* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue";
  background-color: #f4f4f5;
}

body>div{
    margin: auto;
}

.btn{
    display: inline-block;
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    min-width: 120px;

    cursor: pointer;
}

.btn+.btn{
    margin-left: 15px;
}

.btn:hover{
    opacity: 0.8;
    transition: opacity .2s ease-in-out;
}

.btn--disabled{
    opacity: 0.5 !important;
    cursor: default;
}

.btn--size-l{
    padding: 16px 56px;
}

.btn--size-s{
    padding: 8px 36px;
}

.btn--success{
    background-color: #71be34;
}

.btn--danger{
    background-color: #ff632d;
}

.btn--warn{
    background-color: #ffb702;
}


