@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}

button{
    background-color: #ff0551;
    font-size: 18px;
    font-weight: 200;
    border-radius: 8px;
    padding: 12px 25px;
    color: #fff;

    cursor: pointer;
    opacity: 0.9;

    box-shadow: hsl(341, 100%, 30%) 3px 3px 0px;
    transition: transform 200ms, box-shadow 200ms, opacity 200ms ease-in-out;
}

button:hover{
    transform: translate(3px, 3px);
    box-shadow: #004c00 0 0 0;
    opacity: 1;
}
