@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}

.dropdown{
    width: 250px;
    font-size: 22px;
    background-color: #292929;
    color: #45f3ff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

}

.dropSelector{
    width: 100%;
    height: 40px;
    border: 2px solid #ff3c7b;
    border-radius: 7px;

    cursor: pointer;
}

.dropdown:hover .dropList{
    opacity: 0.8;
}

.dropList{
    width: 100%;
    border: 2px solid #ff3c7b;
    border-radius: 7px;
    background-color: #292929;

    opacity: 0;
    transition: opacity 1s ease-in-out;

    position: absolute;
    top: 100%;
}

.dropValue{
    padding-left: 5px;
    cursor: pointer;
    position: relative;
}

.dropValue:not(:last-child){
    border-bottom: 1.75px solid #ff3c7b;
}

.dropValue:hover{
    opacity: 1;
    font-weight: 450;
}

.dropValue:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #ff3c7c;
    z-index: -1;

    transition: width 1s ease-in;
}

.dropValue:hover:before{
    width: 100%;
}